#secret {
  opacity: 0;
}

.secret-video {
  visibility: hidden;
}

#secret:hover {
  opacity: 1;
}

#secret:hover .secret-video {
  visibility: visible;
}

.hidden img {
  position: fixed;
  bottom: 0;
  right: 0;
}

.hidden {
  opacity: 0;
}

.hidden:hover {
  opacity: 1;
}

.hidden a {
  text-decoration: none;
  color: rgb(255, 153, 36);
}
