/* Your tabs CSS code here */
.tabs {
  display: flex;
  margin-top: 60px;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
}

.tab {
  color: black;
  opacity: 0.5;
  text-decoration: none;
  margin: 0 10px;
  padding-bottom: 10px;
}

.tab:hover {
  opacity: 0.8;
}

.active {
  color: #fb01ed;
  border-bottom: 3px solid #fb01ed;
}
